</div> <!-- container -->

<div class="webmail-container">
    <div class="sidebar">

        <img src="/images/duck.png" class="img-responsive" style="display: block; margin: 10px auto;">

        <ul class="nav nav-sidebar">
            {{#each mailboxes}}
                <li {{#if selected}} class="active" {{/if}}><a href="/webmail/{{id}}">{{index}}. {{path}}{{#if unseen}} <span class="badge">{{unseen}}</span>{{/if}}</a></li>
            {{/each}}
        </ul>
    </div>
    <div class="webmail-main">
        <h2 class="sub-header"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> {{mailbox.name}}</h2>

        <div class="table-responsive">
            <table class="messagelist">
                <colgroup>
                    <col class="messagerow-spacer-col" />
                    <col class="messagerow-from-col" />
                    <col class="messagerow-subject-col" />
                    <col class="messagerow-info-col" />
                    <col class="messagerow-date-col" />
                    <col class="messagerow-spacer-col" />
                </colgroup>
                <tbody>
                    {{#each messages}}
                        {{>messagerow}}
                    {{/each}}
                </tbody>
            </table>
        </div>

        <nav aria-label="nav">
            <ul class="pager">
                {{#if previousCursor}}
                    <li class="previous"><a href="/webmail/{{mailbox.id}}?previous={{previousCursor}}&amp;page={{previousPage}}"><span aria-hidden="true">&larr;</span> Newer</a></li>
                {{else}}
                    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Newer</a></li>
                {{/if}}

                {{#if nextCursor}}
                    <li class="next"><a href="/webmail/{{mailbox.id}}?next={{nextCursor}}&amp;page={{nextPage}}">Older <span aria-hidden="true">&rarr;</span></a></li>
                {{else}}
                    <li class="next disabled"><a href="#">Older <span aria-hidden="true">&rarr;</span></a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
</div>

<div class="container"><!-- container -->
