<div class="row">
    <div class="col-md-12">
        <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Account</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="post" action="/account/profile">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">General</h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="control-label">Username</label>
                            <div class="input-group">
                                <p class="form-control-static">{{values.username}}</p>
                            </div>
                        </div>

                        <div class="form-group{{#if errors.name}} has-error{{/if}}">
                            <label for="name">Your name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="nt. &quot;Jaan Tamm&quot;" value="{{values.name}}">
                            {{#if errors.name}}
                                <span class="help-block">{{errors.name}}</span>
                            {{/if}}
                        </div>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Message forwarding</h3>
                    </div>
                    <div class="panel-body">

                        <p>
                            Leave the following fields blank if you do not wish to forward all incoming emails
                        </p>

                        <div class="form-group{{#if errors.forward}} has-error{{/if}}">
                            <label for="forward">Forward incoming messages to:</label>
                            <input type="text" class="form-control" name="forward" id="forward" placeholder="user@example.com" value="{{values.forward}}">
                            {{#if errors.forward}}
                                <span class="help-block">{{errors.forward}}</span>
                            {{/if}}
                            <span class="help-block">Use comma separated list of addresses for multiple recipients</span>
                        </div>

                        <div class="form-group{{#if errors.targetUrl}} has-error{{/if}}">
                            <label for="targetUrl">Upload incoming messages to URL:</label>
                            <input type="text" class="form-control" name="targetUrl" id="targetUrl" placeholder="http://example.com/email.php" value="{{values.targetUrl}}">
                            {{#if errors.targetUrl}}
                                <span class="help-block">{{errors.targetUrl}}</span>
                            {{/if}}
                        </div>

                    </div>
                </div>

            </fieldset>

            <div class="form-group">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Update</button>
            </div>

        </form>

    </div>
</div>
