<a href="/webmail/{{mailbox}}/message/{{id}}" class="message-item" style="{{#unless seen}}font-weight: bold;{{/unless}}">

    <span class="message-list-from">
        {{{fromHtml}}}
    </span>

    <span class="message-list-subject">
        {{subject}}{{#if intro}} <span class="text-muted" style="font-weight: normal;">– {{intro}}</span>{{/if}}
    </span>

    <span class="message-list-info">
        {{#if encrypted}}
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        {{else}}
            {{#if attachments}}
                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            {{/if}}
        {{/if}}
    </span>

    <span class="message-list-date datestring-fixed" title="{{date}}">
        {{date}}
    </span>
</a>
