<!DOCTYPE html>
<html>

<head>
    {{>header}}
</head>

<body>

    {{>navbar}}

    <div class="webmail-container">
        <div class="sidebar-container">
            <div class="sidebar">
                <img src="/images/duck.png" class="img-responsive" style="display: block; margin: 10px auto;">

                <div style="margin: 10px 0 10px 0;" class="text-center">
                    <a href="/webmail/send" style="width: 100%" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Compose message</a>
                </div>

                <ul class="nav nav-sidebar">
                    {{#each mailboxes}}
                        <li id="mailbox-list-{{id}}" {{#if selected}} class="active" {{/if}}>
                            <a href="/webmail/{{id}}">
                                {{#if unseen}}<span class="badge pull-right">{{unseen}}</span>{{/if}}
                                {{{prefix}}}
                                    {{#if icon}}
                                        <span class="glyphicon glyphicon-{{icon}}" aria-hidden="true"></span>
                                    {{else}}
                                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                                    {{/if}}
                                    <span>{{formatted}}</span> {{{suffix}}}
                            </a>
                        </li>
                    {{/each}}
                    <li style="margin-top: 20px;">
                        <a href="/webmail/create" class="text-muted"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create folder</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="webmail-main">

            <div style="margin-top: 5px;">
                {{flash_messages}}
            </div>

            {{{body}}}

        </div>
    </div>


    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; 2017 <a href="/">{{serviceName}}</a>. <a href="mailto:info@{{serviceDomain}}">info@{{serviceDomain}}</a>. </p>
        </div>
    </footer>

    <script src="/jquery-3.1.1/jquery.min.js"></script>
    <script src="/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link href="/summernote-0.8.9/summernote.css" rel="stylesheet">
    <script src="/summernote-0.8.9/summernote.min.js"></script>
    <script src="/moment/moment.min.js"></script>
    <script src="/daterangepicker/daterangepicker.js"></script>
    <script src="/wd.js"></script>
    <script type="text/javascript">
        $(function() {
            $("[rel='tooltip']").tooltip();
        });
    </script>
</body>

</html>
