<!DOCTYPE html>
<html>

<head>
    {{>header}}
</head>

<body>

    {{>navbar}}

    <div class="container">

        <div>
            {{flash_messages}}
        </div>

        {{{body}}}

    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; 2017 <a href="/">{{serviceName}}</a>. <a href="mailto:info@{{serviceDomain}}">info@{{serviceDomain}}</a>. </p>
        </div>
    </footer>

    {{> scripts}}
    </script>
</body>

</html>
